{{- $action := .action -}}
{{- $name := .name -}}
{{- $glyph := default "fa-bug" .glyph -}}
{{- $prefix := default "Action" .prefix -}}
{{- $title := default "Invalid action definition" .title -}}
{{- $body := .body -}}
{{- $args := default dict .args -}}
{{- if isset $args "cooldown" -}}
    {{- if or (eq (printf "%v" $args.cooldown) "+Inf") (eq (printf "%v" $args.cooldown) "-Inf") -}}
        {{- $args = merge $args (dict "cooldown" -1) -}}
    {{- end -}}
{{- end -}}
<div class="clickable-action" id="clickable-action-{{ $action }}" onclick="educates.trigger_clickable_action(event)" data-handler="{{ $name }}"{{ if $args.autostart }} data-action-autostart="true"{{ end }}{{ if $args.required }} data-action-required="true"{{ end }}{{ if $args.hidden }} hidden{{ end }}>
    <div class="clickable-action__header">
        <span class="clickable-action__icon fas {{ $glyph }}" aria-hidden="true"></span>
        <span class="clickable-action__title">{{ $prefix }}: {{ $title }}</span>
        {{- if $args.required }}
        <span class="clickable-action__required fas fa-asterisk" aria-hidden="true" title="Required"></span>
        {{- end }}
    </div>
    <pre class="clickable-action__body"><code>{{ $body }}</code></pre>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        educates.register_clickable_action("clickable-action-{{ $action }}", {{ $args }});
    });
</script>
