{{ $assets_path := default "/workshop/content/static" (.Param "assets_path") }}

<script src='{{ $assets_path }}/libraries/jquery/jquery.min.js'></script>
<script src='{{ $assets_path }}/libraries/bootstrap/js/bootstrap.bundle.min.js'></script>
<script src='{{ $assets_path }}/libraries/underscore/underscore-umd-min.js'></script>
<script src='{{ $assets_path }}/libraries/jsonform/jsonform.min.js'></script>
<script src='{{ $assets_path }}/libraries/js-yaml/js-yaml.min.js'></script>
<script src='{{ $assets_path }}/scripts/educates.js'></script>
<script src='{{ $assets_path }}/theme/workshop-instructions.js'></script>
