{{- $defaults := dict "cooldown" 3 -}}
{{- $args := merge $defaults (.Inner | default "{}" | printf "%s\n" | unmarshal) -}}
{{- $action := .Page.Scratch.Get "action_counter" -}}
{{- $name := "editor:execute-command" -}}
{{- $glyph := "fa-play" -}}
{{- $prefix := default "Editor" $args.prefix -}}
{{- $title := default (printf "Execute command \"%s\"" $args.command) $args.title -}}
{{- $body := "" -}}
{{- if isset $args "description" -}}
{{- $body = $args.description -}}
{{- end -}}
{{- $context := dict "action" $action "name" $name "glyph" $glyph "prefix" $prefix "title" $title "body" $body "args" $args -}}
{{- partial "clickable-action.html" $context -}}
