{{- $defaults := dict "cooldown" 3 -}}
{{- $args := merge $defaults (.Inner | default "{}" | printf "%s\n" | unmarshal) -}}
{{- $action := .Page.Scratch.Get "action_counter" -}}
{{- $name := "editor:add-yaml-item" -}}
{{- $glyph := "fa-plus" -}}
{{- $prefix := default "Editor" $args.prefix -}}
{{- $title := default (printf "Add item to \"%s\" in \"%s\"" $args.path $args.file) $args.title -}}
{{- $body := ($args.value | jsonify) -}}
{{- if isset $args "description" -}}
{{- $body = $args.description -}}
{{- end -}}
{{- $context := dict "action" $action "name" $name "glyph" $glyph "prefix" $prefix "title" $title "body" $body "args" $args -}}
{{- partial "clickable-action.html" $context -}}
