{{- $args := .Inner | default "{}" | unmarshal -}}
{{- $action := .Page.Scratch.Get "action_counter" -}}
{{- $name := "files:download-file" -}}
{{- $glyph := "fa-download" -}}
{{- $prefix := default "Files" $args.prefix -}}
{{- $file := $args.path -}}
{{- if $args.url -}}
{{- $file = $args.url -}}
{{- end -}}
{{- $title := default (printf "Download file \"%s\"" (default $file $args.download)) $args.title -}}
{{- $body := "" -}}
{{- if isset $args "description" -}}
{{- $body = $args.description -}}
{{- end -}}
{{- $context := dict "action" $action "name" $name "glyph" $glyph "prefix" $prefix "title" $title "body" $body "args" $args -}}
{{- partial "clickable-action.html" $context -}}
