{{- $args := .Inner | default "{}" | unmarshal -}}
{{- $action := .Page.Scratch.Get "action_counter" -}}
{{- $name := "terminal:clear-all" -}}
{{- $glyph := "fa-running" -}}
{{- $prefix := "Terminal" -}}
{{- $title := "Clear all terminals" -}}
{{- $body := "" -}}
{{- if isset $args "description" -}}
{{- $body = $args.description -}}
{{- end -}}
{{- $context := dict "action" $action "name" $name "glyph" $glyph "prefix" $prefix "title" $title "body" $body "args" $args -}}
{{- partial "clickable-action.html" $context -}}
