{{- $defaults := dict "cooldown" 0 -}}
{{- $args := merge $defaults (.Inner | default "{}" | printf "%s\n" | unmarshal) -}}
{{- $action := .Page.Scratch.Get "action_counter" -}}
{{- $name := "workshop:copy" -}}
{{- $glyph := "fa-copy" -}}
{{- $prefix := default "Workshop" $args.prefix -}}
{{- $title := default "Copy text to paste buffer" $args.title -}}
{{- $body := $args.text -}}
{{- if isset $args "description" -}}
{{- $body = $args.description -}}
{{- end -}}
{{- $context := dict "action" $action "name" $name "glyph" $glyph "prefix" $prefix "title" $title "body" $body "args" $args -}}
{{- partial "clickable-action.html" $context -}}
